body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    background-color: #00008B;
    background-image: linear-gradient to right, rgba(3,37,126,0), rgba(3, 37,126,1);
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
}

section {
    display: flex;
  }

.card {
  background-color: white;
  /* border: 1px solid black; */
}

.btn  {
color: white;
background-color: #74DF00;
border: none;
width: 100%;
}


button {
  color: white;
background-color: #74DF00;
border: 5px solid white;
width: 142px;
}

input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
  }
  

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    /* border: 1px solid red; */
    margin-top: 10px;
  
  }

  .card-city-result {
    font-size: 10px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    background-color: white;
  }

p {
    font-size: 10px;
}

.current {
  height: 200px;
  width: 250px;
  /* margin-top: 50px; */
  text-align: left;
  /* border: 1px solid red; */
  background-color: white;
}

.five-day-forecast {
  display: flex;
  /* border: 1px solid green; */
  justify-content: space-evenly;
  gap: 20px;
  background-color: white;
  
}

.daily {
  height: 175px;
  width: 250px;
  /* margin-top: 50px; */
  text-align: left;
  /* border: 1px solid red; */
  color: white;
  background-color: #045FB4;
}


/* .card {
  border: 1px solid orange;
} */

