body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header {
    background-color: #00008B;
    background-image: linear-gradient to right, rgba(3,37,126,0), rgba(3, 37,126,1);
    height: 40px;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
}

section {
    display: flex;
  }

input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
  }
  
  input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 6px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=button]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    border: 1px solid red;
    margin-top: 10px;

  }

  .card-city-result {
    font-size: 10px;
    border: 1px solid black;
    border-radius: 4px;
  }

p {
    font-size: 10px;
}


.five-day-forecast {
  display: flex;
  border: 1px solid green;
  justify-content: space-evenly;
  gap: 20px;
}

.daily {
  height: 150px;
  width: 200px;
margin-top: 50px;
text-align: left;
}